<center>

    <div class="container">
        <div class="z-depth-1 row card-panel animated fadeIn transparented" id="loginCard">
            <div class='row'>
                <div input-field class='input-field col s12'>
                    <i class="material-icons prefix mdi mdi-email"></i>
                    <input ng-model="credentials.email" class='validate' type='email' name='email' id='email' />
                    <label for='email'>Enter your email</label>
                </div>
            </div>

            <div class='row'>
                <div input-field class='input-field col s12'>
                    <i class="material-icons prefix mdi mdi-key-variant"></i>
                    <input ng-model="credentials.password" class='validate' type='password' name='password' id='password' />
                    <label for='password'>Enter your password</label>
                </div>
                <label>
                    <a style="color:#ff9800" href='#!'><b>Forgot Password?</b></a>
                </label>
            </div>

            <br />
            <center>
                <div class='row'>
                    <button ng-click="onSubmit()" type='submit' name='btn_login' class='col s12 btn btn-large waves-effect pale-green'>Login</button>
                </div>
            </center>

        </div>
    </div>
    <span class="white-text animated fadeIn">Don't have an account?<a href="#signup" style="color:#10dd00">&nbsp;Signup</a></span>
</center>
