<div class="center-search" ng-hide='my.isSearched' id='once'>

    <div class="row">
        <div class="col s12">
            <h4 class="center-align animated tada white-text">Search for Freedom</h4>
        </div>
    </div>

    <div class="row animated wobble" id="searchBox">
        <div class="input-field col s12 m4 l4 offset-l4 offset-m3">
            <input class="white-label" input-field ng-model='searchTerm' ng-keypress='checkEnter($event)' id="icon_prefix" type="text">
            <label for="icon_prefix" class="white-text">Eg. Free AWS Credits</label>
        </div>
    </div>
    <div class="row">
        <div ng-click='searchnow()' class="col s12 center-align">
            <a class="waves-effect waves-light btn pale-green"><i class="material-icons left mdi mdi-magnify"></i>go</a>
        </div>
    </div>


</div>
<div ng-show='my.isSearched' ng-cloak class="ng-cloak search">
    <div class="row amber accent-4 valign-wrapper">

        <input input-field ng-model='searchTerm' class="col offset-s4 s3 valign afterSearch white-label" ng-keypress='checkEnter($event)' id="icon_prefix" type="text">

        <div ng-click='searchnow()' class="valign">
            <a class="waves-effect waves-light btn right pale-green"><i class="material-icons left mdi mdi-magnify"></i>go</a>
        </div>
    </div>
</div>


<div class="container">
    <div class='row valign-wrapper card-panel transparent result' ng-cloak ng-repeat='recipe in recipes'>
        <div class="valign col s2">
            <img src="images/placeholder.png" alt="" class="circle responsive-img">
        </div>
        <div class="valign col s3">
            <h6>
              <a ng-href='{{recipe.url}}'>{{recipe._source.name}}</a>
            </h6>
        </div>

        <div class="valign col s3">
            <ul>
                <li ng-repeat='ingredient in recipe._source.ingredients | limitTo:4'>{{ ingredient | limitTo:5}}...</li>
            </ul>
        </div>

        <div class="valign col s3">
            <p>
                {{recipe._source.description | limitTo:15}}...
                <a ng-href='{{recipe.url}}'>more at {{recipe._source.source}}</a>
            </p>
        </div>

    </div>
</div>
<div class='row valign-wrapper card-panel result' ng-hide='noResult()'>
    <span class="blue-text text-darken-2">No results</span>
</div>
