
h3 {
    color: black;
}


label {
    text-align: left;
}
h1 {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 8.0rem;
}
#loginCard {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    border: 1px solid #EEE;
}
.search h1 {
    font-size: 3rem;
}
.searched {
    display: none;
}
.input-field .prefix.active {
    color: #000;
}

/* label color */

.input-field label {
    color: #aaa;
}

/* label focus color */

.input-field input[type=text]:focus + label {
    color: #000;
}

.transparent{
    background-color: rgba(255,255,255,0.8) !important;
    height: 120px;
}

input, select, textarea{
    color: #ffffff;
}

.pale-green{
    background-color: #10da00;
}

.pale-green:hover{
    background-color: #10dd00;
}

textarea:focus, input:focus {
    color: #ffffff;
}

footer{
  right: 0;
  bottom: 0;
  left: 0;    
}

.center-search{
    position: absolute;
    top:30%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
.input-field input[type=text] {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 0 #ddd;
}
.result.ng-enter {
    opacity: 0.0;
    margin-top: 200px;
    transition: all ease 150ms;
}
.result.ng-enter-stagger {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
}
.result.ng-enter-active {
    opacity: 1.0;
    margin-top: 0px;
}
